---
import Layout from "../layouts/Layout.astro";
---

<Layout metatitle="404 No encontrado" metadescription="Página no encontrada" slug="404">
  <div
    class="flex flex-col h-screen justify-center items-center text-slate-200"
  >
    <div class="text-center">
      <h1 class="text-6xl">404</h1>
      <a href="/"><img src="/assets/iaapps.png" /></a>
      <p class="text-2xl">Lo que buscas ya no esta aqui</p>
    </div>
  </div>
</Layout>
