---

---

 
<section class="">
  <div class="mx-auto flex justify-between items-center flex-row rounded-lg antialiased bg-gray-700 p-4 md:p-8">
    <div> 
      <img src="/assets/bybit.png" alt="Bybit" />
    </div>
      <div class="cta-box">
        <p class="text-white font-bold text-lg mb-4">
          Únete a Bybit y compra USDT a un excelente precio.
        </p>
        <a
          href="https://www.bybit.com/invite?ref=Y8MB0PP"
          class="cursor-pointer inline-flex items-center bg-amber-200 px-5 py-2.5 text-sm font-medium text-gray-900"
          target="_blank"
        >
          Unete a Bybit
        </a>
      </div>
     
  </div>
</section>
