---

---

<div class="flex justify-center items-center">
  <div class="ads">
    <a
      href="https://www.e-hosting.com.ve/clientes/aff.php?aff=7"
      target="_blank"
      rel="noopener noreferrer"
      ><img
        class="w-full my-4 mx-auto"
        src="/assets/banner_ehosting_728x90.png"
        alt="e hosting"
      /></a
    >
  </div>
</div>
