---
import BotonesNav from "../components/BotonesNav.jsx";
 
import EhostingBanner728 from "./EhostingBanner728.astro";
const { tituloencabezado, subtitulo } = Astro.props;
---

<div class="py-8 px-4 md:px-16 text-center md:py-16">
  <h1
    class="mb-4 text-6xl tracking-tight leading-none md:text-5xl text-slate-200"
  >
    {tituloencabezado}
  </h1>
  <p
    class="mb-8 text-4xl md:text-xl sm:px-16 lg:px-48 text-gray-200"
  >
    {subtitulo}
  </p>
  <h2 class="text-4xl mb-4 text-center capitalize text-slate-200">
   aplicaciones de la inteligencia artificial
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-4 justify-center items-center gap-1 mb-1">
    <BotonesNav client:load />
  </div>
 <EhostingBanner728 />
</div>
