---
import BotonesNav from "../components/BotonesNav.jsx";

import EhostingBanner728 from "./EhostingBanner728.astro";
const { tituloencabezado, subtitulo } = Astro.props;
---

<div class="py-8 px-4 md:px-16 text-center md:py-16">
  <h1
    class="mb-4 text-6xl tracking-tight leading-none md:text-5xl text-slate-200"
  >
    {tituloencabezado}
  </h1>
  <p class="mb-8 text-4xl md:text-xl sm:px-16 lg:px-48 text-gray-200">
    {subtitulo}
  </p>

  <EhostingBanner728 />
</div>
