---
const dataProveed = [
  {
    id: 1,
    nombre: "en el Maketing/SEO",
    url: "en-el-marketing-seo",
  },
  {
    id: 2,
    nombre: "venezuela ia",
    url: "venezuela-ia",
  },
  {
    id: 3,
    nombre: "audio/video",
    url: "para-audio-video",
  },
  {
    id: 4,
    nombre: "para crear imágenes",
    url: "para-crear-imagenes",
  },
  {
    id: 5,
    nombre: "para redactar contenido",
    url: "para-redactar-contenido",
  },
  {
    id: 6,
    nombre: "en la vida cotidiana",
    url: "en-la-vida-cotidiana",
  },
  {
    id: 7,
    nombre: "robots mascota",
    url: "robot-ia",
  },
  {
    id: 8,
    nombre: "productividad",
    url: "en-los-negocios",
  },
  {
    id: 9,
    nombre: "adulto ia",
    url: "adulto-ia",
  },
   {
    id: 10,
    nombre: "en la agricultura",
    url: "en-la-agricultura",
  },
];
---

<button
  id="herramientasButton1"
  data-dropdown-toggle="herramientasHover"
  data-dropdown-trigger="hover"
  class="text-gray-900 hover:font-bold focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
  type="button"
  >Aplicaciones de IA <svg
    class="arrow w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="herramientasHover"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64 dark:bg-gray-700"
>
  <ul
    class="py-2 text-sm rounded-md text-gray-900 bg-[#e2e8f0]"
    aria-labelledby="herramientasButton1"
  >
    {
      dataProveed.map((item) => (
        <li>
          <a
            href={`/aplicaciones/${item.url}/`}
            class="block px-4 py-2 hover:font-bold capitalize"
          >
            {item.nombre}
          </a>
        </li>
      ))
    }
  </ul>
</div>
