<div class="flex justify-center">
  <a
    rel="sponsored"
    href="https://cotosen.sjv.io/c/5366243/3269435/14148"
    target="_top"
    id="3269435"
  >
    <img
      src="//a.impactradius-go.com/display-ad/14148-3269435"
      
      alt="cotosen"
      width="250"
      height="300"
    /></a
  ><img
    height="0"
    width="0"
    src="https://imp.pxf.io/i/5366243/3269435/14148"
    style="position:absolute;visibility:hidden;"
    
  />
</div>
