---
import Section from "./Section.astro";
---

<Section>
  <div
    class="content mt-8 leading-8 px-1 md:px-[400px]"
  >
    <slot />
  </div>
</Section>

<style is:global>
  .content h2,
  h3,
  h4 {
    margin-top: 20px;
  }
  .content h2 {
    font-size: 24px;
  }
  .content table {
    border-collapse: collapse;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 60px;
    margin: 4rem 0px 4rem 0px;
  }
  .content th {
    background-color: rgb(32, 218, 79);
    width: 5%;
  }
  .content td {
    text-align: justify;
    padding: 5px;
    text-align: center;
  }
  .content tr {
    padding: 0.8rem 1.5rem;
    border-bottom: solid 1px gray;
    text-align: center;
  }
  ul li,
  ol li {
    margin-left: 2rem;
  }
  @media (max-width: 768px) {
    .content h2,
    .content h3 {
      font-size: 60px;
      line-height: 70px;
      margin-top: 4rem;
    }
    p {
      font-size: 50px;
      margin-bottom: 2rem;
      text-align: justify;
    }

    li {
      font-size: 50px;
      line-height: 70px;
    }
    .content tr {
      line-height: 60px;
    }
  }
</style>
